.navbar {
    justify-content: space-between;
    height: 160rpx;
    padding: 50rpx;
	margin-top: 50rpx;
	.image {
		$size: 70rpx;
		width: $size;
		height: $size;
		border-radius: $size;
		background-color: $color2;
	}
	.title {
		font-size: 36rpx;
	}
}