.message {
	width: 100%;
	position: fixed;
	top: 500rpx;
	opacity: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 999;
	transition-duration: 200ms;
	transition-property: opacity, transform;
	.view {
		background-color: #fafafa;
		padding: 20rpx 30rpx;
		border-radius: 8rpx;
	}
	.text {
		font-size: 30rpx;
	}
}
.show {
	transform: translateY(-10rpx);
	opacity: 1;
	display: flex;
}