.top {
	height: 400rpx;
}
.logo {
	width: 300rpx;
}
.bottom {
	margin-top: 100rpx;
}
.login-btn {
	width: 80%;
	height: 90rpx;
	margin: 0 auto;
	margin-top: 200rpx;
}
.login-btn .login-text {
	color: #ffffff;
}
.icon-input {
	width: 48rpx;
	margin-right: 30rpx;
}
.forgot-password {
	display: flex;
	align-items: flex-end;
	margin-top: 35rpx;
	margin-right: 15rpx;
}