.top {
	height: 400rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo {
	width: 300rpx;
}
.bottom {
	margin-top: 100rpx;
}
.login-btn {
	width: 80%;
	height: 90rpx;
	border-radius: 10rpx;
	background-color: $primaryColor;
	margin: 0 auto;
	margin-top: 200rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-btn .text {
	color: #ffffff;
}
.register {
	display: flex;
	align-items: center;
	margin-top: 80rpx;
}
.icon-input {
	width: 48rpx;
	margin-right: 30rpx;
}
.forgot-password {
	display: flex;
	align-items: flex-end;
	margin-top: 35rpx;
	margin-right: 15rpx;
}