.logo {
	width: 120rpx;
	margin: 0 auto;
}
.main {
	padding: 0 40rpx;
}
.input {
	height: 60rpx;
	margin-bottom: 50rpx;
}
.or-text {
	text-align: center;
	margin: 40rpx 0;
    font-size: 24rpx;
    color: gray;
}
