.box {
	margin-top: 100rpx;
}
.register-btn {
	width: 80%;
	height: 100rpx;
	margin: 0 auto;
	margin-top: 200rpx;
}
.register-btn .register-text {
	color: $color3;
}
.icon-input {
	width: 48rpx;
	margin-right: 30rpx;
}