.page {
    padding: 0 20rpx;
}
.moment-box {
    padding: 25rpx;
}
.icon-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20rpx;
}
.input-box {
    width: 100vw;
    height: 65rpx;
    position: fixed;
    left: 0;
    bottom: 45rpx;
    padding: 0 40rpx;
    box-sizing: border-box;
}