.navbar {
    justify-content: space-between;
    height: 160rpx;
    padding: 50rpx;
	margin-top: 50rpx;
	.image {
		$size: 70rpx;
		width: $size;
		height: $size;
		border-radius: $size;
		background-color: #dddddd;
	}
	.title {
		font-size: 36rpx;
	}
}
.dialog {
		background-color: rgba(0, 0, 0, 0.08);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		display: none;
		.dialog-box {
			width: 280rpx;
			padding: 12rpx 0;
			min-height: 180rpx;
			background-color: #ffffff;
			border-radius: 14rpx;
			position: absolute;
			right: 60rpx;
			top: 180rpx;
			transform: scale(0);
			transition: transform 200ms;
			transform-origin: 100% 0%;
			.item {
				width: 100%;
				padding: 22rpx 0;
			}
		}
}