.navbar {
	width: 100vw;
	justify-content: space-between;
	height: 130rpx;
	padding: 0 50rpx;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	box-sizing: border-box;
	.title {
		font-size: 36rpx;
		text-align: center;
		position: relative;
		left: -10rpx;
	}
}
.overlay-box {
	width: 300rpx;
	min-height: 210rpx;
	border-radius: 12rpx;
	background-color: #ffffff;
	position: absolute;
	top: 140rpx;
	right: 60rpx;
	padding: 30rpx 0;
}
.overlay-text {
	width: 150rpx;
	text-align: justify;
	text-align-last: justify;
}
