.tips {
	font-size: 26rpx;
	color: #666666;
	margin: 15rpx 0;
}
.action-tips {
	font-size: 26rpx;
	color: #4062f9;
}
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-center-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-between-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.margin-right-10 {
	margin-right: 10rpx;
}
.margin-right-20 {
	margin-right: 20rpx;
}
.hover-class-background {
	background-color: #f1efef;
}
.text-ellipsis-300 {
	white-space: nowrap; /* 防止文本换行 */
	overflow: hidden; /* 隐藏溢出内容 */
	text-overflow: ellipsis; /* 溢出部分显示为省略号 */
	width: 300rpx; /* 设置一个固定的宽度 */
}
