.page {
    padding: 20rpx;
    padding-top: 110rpx;
    min-height: 93vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
}
.moment-box {
    background-color: #ffffff;
    padding: 25rpx;
    border-radius: 10rpx;
    margin-bottom: 20rpx;
}
.icon-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20rpx;
}