.main {
	padding: 0 50rpx;
	position: relative;
}
.friend-list {
	margin-top: 20rpx;
	.friend-list-item {
		padding: 16rpx 0;
	}
	.avatar {
		$size: 90rpx;
		width: $size;
		height: $size;
		border-radius: $size;
		background-color: #dddddd;
		margin-right: 15rpx
	}
	.title {
		font-size: 32rpx;
		font-weight: 700;
	}
	.time {
		font-size: 20rpx;
		color: #aaaaaa;
	}
	.status {
		font-size: 24rpx;
		color: #aaaaaa;
	}
}
.fui-item__box {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 26rpx 32rpx;
	box-sizing: border-box;
}
.fui-text {
	font-size: 28rpx;
	width: 680rpx;
}